<head>
  <style>

    h1 {
      font-size: 28px; 
      color: #007bff;
      margin-bottom: 20px; 
    }

    p {
      font-size: 16px; 
      line-height: 1.5; 
      margin-bottom: 20px; 
    }
    a {
      color: #007bff; 
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline; 
    }
  </style>
</head>

<body>
  <div>
    <h1>Welcome to My Rails Application</h1>
    <p>This is the content of the home page, also accessible at '/home'.</p>
     <p>Please select a database you would like to view.</p>
    <%= link_to "Players", "/players"%>
    <%= link_to "Tasks", "/tasks"%>
  </div>
</body>
